/* style.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f0f0f0, #555151);
    color: #333;
    animation: fadeInBackground 1.5s ease-in-out;
}

@keyframes fadeInBackground {
    from { opacity: 0; }
    to { opacity: 1; }
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.left-block, .right-block {
    flex: 1 1 100%;
    padding: 20px;
    background-color: #9c9c9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
}

.main-block {
    flex: 2 1 100%;
    padding: 20px;
    background-color: #9c9c9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info {
    margin-bottom: 20px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #444f5c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    animation: fadeIn 2s ease-in-out;
}

button:hover {
    background-color: rgb(189, 185, 185);
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 3px solid #2f2f2f;
    animation: fadeIn 2.5s ease-in-out;
}

#image {
    width: 100%;
    margin-right: 100%;
    height: 110%;
    object-fit: cover;
    filter: grayscale(100%);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(119, 119, 119);
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    animation: fadeIn 3s ease-in-out;
}

label {
    margin-top: 10px;
    color: #333;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px;
    background-color: #4c504c;
    color: rgb(189, 185, 185);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #8e8f8e;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .container {
        flex-wrap: nowrap;
    }

    .left-block, .right-block {
        flex: 1;
    }

    .main-block {
        flex: 2;
    }
}
